<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>
	{{> base/meta }}
	<title>{{copy.title}}</title>
	<link rel='stylesheet' type="text/css" href='style.css' />
	<script src="./assets/scripts/d3.v5.min.js"></script>
</head>

<body>
	<script type="text/javascript" src="index.js" async></script>
</body>

</html>