<div id="credits">
  Development:
  <a href="https://twitter.com/ArjunKakkar15" target='_blank'>
    Arjun Kakkar
  </a>
  | Soundtrack:
  <a href="https://soundcloud.com/user-273871313/popular-tracks" target='_blank'>
    Daniel Carmona
  </a>
</div>